button{
  background-color: #ff0000;
  color: black;
  width: 100px;
  padding: 10px;
  font-size: 40px;
  border-radius: 4px;
}
label{
  width: 1000px;
  display: inline-block;
  text-align: left;
}
input{
  width: 20%;
  padding: 18px;
  font-size: 18px;
  border-radius: 8px;
  text-align: right;
}
h1{
  width: auto;
  text-align: center;
  background-color: rgb(3, 167, 3);
  font-family:Georgia, 'Times New Roman', Times, serif;
}